* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: radial-gradient(#141414, black);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100% - 100px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 380px;
    width: 282px;

    background-color: #1b1c1d;
    padding: 35px 0;
    border-left: 8px solid #1c1e20;
    border-right: 8px solid #1c1e20;
    border-top: 40px solid #151718;
    border-bottom: 40px solid #151718;
    box-shadow: 5px 5px 30px rgba(0,0,0, .5);

    -webkit-box-reflect: below 10px linear-gradient(transparent, #0003);
}

.container svg {
    width: 100%
}

header {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100px;
}

header span {
    padding: 5px;
    display: inline-block;
    background: #1b1c1d;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0, .5);
    cursor: pointer;
}

header span svg {
    height: 100%;
    width: 100%;
}












